* {
  // border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}
img {
  width: 100%;
}

a {
  color: rgb(22, 22, 21);
  border-bottom: 1px solid grey;
  text-decoration: none;
  padding: 0;
  transition: all ease 500ms;;
}
a:hover {
  color: rgb(22, 22, 21);
  border-bottom: 1px solid black;
}

input[list].highlight::-webkit-calender-picker-indicator {
  display: none;
}



.nav-bar {
  position: sticky;
  top: 0;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  .right {
    .nav-bar--list {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      .hover {
        padding: 0.2em 0.5em;
        cursor: pointer;
        border-radius: 50px;
        transition: all ease 300ms;
      }
      .hover-highlight:hover {
        background-color: rgb(44, 44, 42);
      }
    }
  }
  .nav-bar--list {
    list-style-type: none;
    .DriveMe {
      cursor: pointer;
      z-index: 2;
      font-family: "Playwrite HR", cursive;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
      .dropdown {
        list-style-type: none;
        position: relative;
        visibility: visible;
        z-index: 10;
        display: none;
        left: 0;
        .download-child{
          background-color: red;
        }
      }
    }
    .DriveMe:hover {
      .dropdown {
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: rgb(22, 22, 21);
        color: white;
        margin: 1em 0;
        .dropdown-child{
          &:hover{
            color: #d6d3d3;
          }
        }
      }
    }
  }
}

.first-part {
  background-color: black;
  color: white;
  padding: 1.2em 0.5em;
  margin: 0;
  .form-container {
    padding: 0 1em;
    .text {
      padding: 1em 0;
      max-width: 300px;
    }
    .gap {
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      .extra-style {
        display: flex;
        flex-direction: column;
        gap: 0.7em;
      }
    }
    .first-part--header {
      padding: 0.5em 0;
      font-size: 2.3em;
    }
    .form {
      max-width: 450px;
      display: flex;
      justify-content: center;
      padding: 0.3em;
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-radius: 5px;
      .svg {
        width: 20px;
      }
      input {
        background-color: white;
        border: none;
        border-radius: 5px;
        width: 70%;
        max-width: 300px;
      }
      input:focus {
        outline: none;
      }
    }
  }
  .image {
    width: 100%;
    margin: auto;
    padding: 1em 1em;
  }
  .btn {
    width: 150px;
    padding: 1em 1em;
    background-color: white;
    border-radius: 5px;
    border: none;
    transition: all 300ms ease;
    font-size: 1em;
  }
  .btn:hover{
    background-color: rgb(22, 22, 21);
    color: white;
  }
}

.second-part {
  .text-container {
    padding: 0 1em;
    .flex {
      display: flex;
      flex-direction: column;
    }
    .second-part--header {
      font-size: 2.3em;
      padding: 0.5em 0;
      max-width: 700px;
    }
    .text {
      line-height: 1.5em;
      padding: 1em 0;
    }
    .get-started {
      font-size: 1.1em;
      padding: 0.5em 1em;
      border-radius: 5px;
      background-color: black;
      color: white;
      max-width: 150px;
      transition: all ease 300ms;
      border: none;
    }
    .get-started:hover {
      background-color: rgb(44, 44, 42);
    }
    .underlined {
      display: inline-block;
      position: relative;
      max-width: 250px;
      cursor: pointer;
    }
  }
  .image {
    padding: 0 1em;
    width: 100%;
  }
}

.third-part {
  padding: 1em 0;
  .text-container {
    padding: 0 1em;
    .flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .second-part--header {
      font-size: 2.3em;
      padding: 0.5em 0;
    }
    .text {
      line-height: 1.5em;
      padding: 1em 0;
    }
    .get-started {
      font-size: 1.1em;
      padding: 1em 1em;
      border-radius: 5px;
      background-color: black;
      color: white;
      max-width: 150px;
      transition: all ease 300ms;
      border: none;
    }
    .get-started:hover {
      background-color: rgb(44, 44, 42);
    }
    .underlined {
      display: inline-block;
      position: relative;
      max-width: 250px;
      cursor: pointer;
    }
  }
  .image {
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.download {
  padding: 0.5em 1em;
  background-color: rgb(240, 240, 234);
  .flexed {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .download-header {
    font-size: 2em;
    padding: 0.5em 0;
  }
  .download-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 0.5em;
    background-color: white;
    max-width: 700px;
    width: 90%;
    .image {
      width: 20%;
      max-width: 100px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .text {
      display: inline-block;
    }
    .svg {
      width: 10%;
      max-width: 50px;
      display: inline-block;
      transition: all ease 500ms;
    }
  }

  .download-child:hover .svg {
    transform: translateX(25px);
  }
}

.last-part {
  color: white;

  flex-direction: column;
  background-color: rgb(0, 0, 0);
  .last-part--header {
    .DriveMe,
    .help {
      padding: 2em 1em;
    }
  }
  .last-part--flexed {
    display: flex;
    flex-wrap: wrap;
    .child {
      padding: 1em;
      min-width: 300px;
      .head {
        padding: 1em 0;
        font-size: 1.2em;
        font-weight: 500;
      }
      .text {
        padding: 0.5em 0;
      }
    }
  }
  .socials {
    padding: 1em;
    display: flex;
    width: 75%;
    max-width: 500px;
    justify-content: space-between;
    .image {
      max-width: 20px;
    }
  }

  .extra {
    gap: 0.5em;
    .eng {
      display: flex;
      gap: 5px;
      padding: 0 1em;
      .image {
        width: 20px;
      }
    }
    .lag {
      display: flex;
      gap: 5px;
      padding: 0 1em;
      .image {
        width: 20px;
      }
    }
  }
  .PlayStore {
    display: flex;
    gap: 1em;
    padding: 1em;
    .store {
      border: 1px solid grey;
      border-radius: 3px;
      max-width: 200px;
      display: flex;
      align-items: center;
      gap: 0.2em;
      padding: 0 0.5em;
      cursor: pointer;
      .image {
        width: 30px;
      }
    }
  }

  .finishing {
    padding: 2em 1em;
    font-weight: 100;
    .finished {
      display: flex;
      padding: 1em 0;
      gap: 1em;
    }
  }
}

#login-options{
  display: none;
  animation: slideIn 300ms ease;
  .content{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    // border: 1px solid black;
    min-height: 100vh;
    font-size: 1.5em;
    padding: 0 1em;
    .ride{
      border-bottom: 1px solid black;
      padding: 3em 0;
      display: flex;
      align-items: center;
      // justify-content: center;
      gap: .5em;
      width: 90%;
      max-width: 500px;
      margin: auto;
      &:hover .image{
        transform: translateX(10px);
      }
      .text{
        a{
          text-decoration: none;
          border-bottom: none;
        }
        a:link{
          font-weight: 900;
          text-decoration: none;
          color: black;
        }
        a:hover{
          text-decoration: none;
        }
        
      }
      .image{
        width: 40px;
        transition: all ease 700ms;
      }
    }
  }
}
@media screen and (min-width: 950px) {
  .download {
    .flexed {
      flex-direction: row;
      padding: 2em 0;
      .download-child {
        padding: 1em;
        gap: 1em;

        .text {
          font-size: 1.5em;
        }
      }
    }
  }
}

// !styling of log in page
.login-navigation{
  border: 1px solid black;
  padding: .5em 1em;
  color: white;
  background-color: rgb(22, 22, 21);
  // font-weight: 700;
  .driveMe{
    font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }
}
.container{
  .content{
    .form-container-two{
      #signUpMessage{
        border: 1px solid black;
        background-color: lightgreen;
        padding: 1em .5em;
        text-align: center;
        border-radius: 10px;
        // animation: moveIn ease 700ms;
        transform: translateY(-10px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        display: none;
        
        .image{
          width: 20px;
        }
      }
      padding: 1em;

      .form-header{
        border: 1px solid black;
        padding: .8em;
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: "Playwrite HR", cursive;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
  }
      }
      #form{
        display: flex;
        flex-direction:column;
        gap: 1em;
        #Email, #pword{
          padding:.5em 1em;
          // max-width: 500px;
        }
        .submit{
          padding: 1em 0;
          #submit{
            padding: 1em 0;
            background-color: rgb(0, 0, 0);
            color: white;
            border: none;
            border-radius: 10px;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
    .or{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .3em;
      padding: .5em 0;
      .line{
        width: 40%;
        border: 1px solid grey;
      }
    }
    .account{
      width: 95%;
      margin: auto;
      // display: flex;
      // gap: .5em;
      // flex-direction: column;
      .google{
        .image{
          width: 7%;
          max-width: 30px;
        }
        padding: .5em 0;
        border-radius: 10px;
        display: flex;
        gap: .3em;
        align-items: center;
        justify-content: center;
        background-color: rgb(203, 202, 202);
      }
    }
    
    .footer{
      font-weight: 400;
      text-align: center;
      font-size: .7em;
      padding:2em 1em;
    }
  }

@keyframes moveIn{
  0%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@keyframes slideIn{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOut{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-100px);
    opacity: 0;
  }
}
@media screen and (min-width: 600px) {
  .container{
    width:70%;
    margin: 0 auto;
    max-width: 400px;
    min-height: 90vh;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1136px) {
  .first-part {
    display: flex;
    align-items: center;
    .form-container {
      .first-part--header {
        font-size: 3em;
      }
    }
    .image {
      width: 50%;
    }
  }

  .second-part {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1em 0;
    .image {
      max-width: 600px;
    }
    .second-part--header {
      max-width: 300px;
    }
    .text {
      max-width: 400px;
    }
    .text-container {
      .flex {
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
    }
  }

  .third-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    .image {
      max-width: 600px;
    }
  }
  .extra {
    display: flex;
    flex-direction: row;
  }
  .changed {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .finishing {
    padding: 5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .DriveMe {
      display: flex;
      align-items: center;
    }
    .finished {
      padding: 0 0;
      align-items: flex-start;
    }
  }
}
